body{
    background-color: gray;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact{
    display: flex;
    align-items: center;
}
.news1{
    border: 0px solid;
    background-color: aqua;
    border-radius: 10% 0%;
    width: 370px;
    height: 400px;
}
.news2{
    border: 0px solid;
    border-radius: 10% 0%;
    background-color: aqua;
    width: 370px;
    height: 400px;
}
.cont{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}
h1{
    display: flex;
    justify-content: center;
}